* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/************************  Destop-View  ************************* */

.mainPage {
  position: relative;
  height: max-content;
  width: 100%;
  padding-left: 160px;
  padding-right: 160px;
  background-color: #272727;
}

.slideBar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  background-color: #00000075;
}

.slideBarMenu {
  width: 100%;
  padding: 24px;
  border-bottom: solid 1px;
  border-color: white;
  color: white;
  background-color: #000000;
}

.menuClose {
  width: 100%;
  padding: 24px;
  display: flex;
  justify-content: end;
  background-color: #000000;
}

.closeBtn {
  height: 38px;
  width: 38px;
  background-color: black;
  border-radius: 16px;
  border: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 164px;
  width: 100%;
}

.appName {
  width: max-content;
  font-size: 46px;
  font-weight: 800;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.menu {
  width: 520px;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  color: white;
}
.menuP:hover {
  color: #ff0000;
  cursor: pointer;
}

.menuBar {
  display: none;
  height: 38px;
  width: 38px;
}

.heroSection {
  display: flex;
  justify-content: space-between;
  margin-top: 52px;
  width: 100%;
  height: max-content;
}

.heroLeft {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  padding-top: 62px;
  gap: 42px;
  height: 100%;
  width: max-content;
}

.heading {
  line-height: 100px;
  font-size: 88px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: #ff0000;
}

.highlight {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}
.headerSpan {
  font-family: 'Open Sans', sans-serif;
  color: #ff0000;
}

.slogan {
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 32px;
  color: #e2e2e2;
}

.downloadBtn {
  width: max-content;
  font-size: 28px;
  font-weight: 800;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 62px;
  padding-right: 62px;
  margin-top: -8px;
  border-radius: 8px;
  outline: none;
  border: none;
  background-color: #ff0000;
  color: white;
}

.keyboxMobile {
  display: none;
}

.heroRight {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-top: 96px;
  padding-left: 130px;
  padding-right: 78px;
  height: 100%;
  width: max-content;
}

.fitPic {
  position: relative;
  width: 432px;
  height: 468px;
}
.pic {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.keyBox1 {
  position: absolute;
  top: -70px;
  left: -108px;
  width: 196px;
  height: 240px;
  border-radius: 16px;
  rotate: -15deg;
  background: linear-gradient(#dcd5001e, #dcd5000c, #dcd50000);
  border: solid 0.5px;
  border-color: #dcd300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-left: 44px;
  padding-right: 44px;
}

.keyBox2 {
  position: absolute;
  top: 6px;
  right: -56px;
  width: 196px;
  height: 240px;
  border-radius: 16px;
  rotate: 15deg;
  background: linear-gradient(#00d1c71e, #00d1c70c, #00d1c700);
  border: solid 0.5px;
  border-color: #00d1c5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-left: 44px;
  padding-right: 44px;
}

.keyBox3 {
  position: absolute;
  bottom: -41px;
  left: -65px;
  width: 196px;
  height: 240px;
  border-radius: 16px;
  rotate: -11deg;
  background: linear-gradient(#7661f11e, #7661f10c, #7661f100);
  border: solid 0.5px;
  border-color: #7661f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-left: 44px;
  padding-right: 44px;
}

.bell {
  height: 82px;
  width: 96px;
}

.apple {
  height: 82px;
  width: 96px;
}

.dubble {
  height: 72px;
  width: 86px;
}

.boxText1 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #dcd300;
}

.boxText2 {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  color: #00d1c5;
}

.boxText3 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: #7661f1;
}

.benefits {
  display: flex;
  gap: 48px;
  margin-top: 82px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.benefitBox {
  height: max-content;
  width: 100%;
  border-radius: 16px;
  padding: 32px;
  border: solid 0.1px;
  border-color: rgba(255, 255, 255, 0.185);
  background-color: #31313177;
  box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.205);
}

.benicon {
  height: 52px;
  width: 52px;
  margin-left: -6px;
  color: white;
}

.benText {
  margin-top: 14px;
  font-size: 24px;
  font-weight: 600;
  color: white;
  letter-spacing: 1px;
}

.benP {
  margin-top: 8px;
  font-size: 17px;
  color: #dcdcdc;
}

.testimonials {
  padding-bottom: 182px;
}

.testimoni {
  margin-top: 164px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.testimoniText {
  font-size: 42px;
  font-weight: 600;
  letter-spacing: 4px;
  color: white;
}

.testimoniBox {
  display: flex;
  gap: 48px;
  margin-top: 96px;
}

.testimoniSingleBox {
  min-height: 412px;
  max-height: max-content;
  width: 100%;
  border-radius: 16px;
  padding: 28px;
  border: solid 0.1px;
  border-color: rgba(255, 255, 255, 0.185);
  background-color: #31313177;
  box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.205);
}

.testimoniSingleBoxText {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 8px;
  color: white;
}

.testimoniSingleBoxTextBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  min-height: 80%;
  max-height: max-content;
  width: 100%;
  border-radius: 16px;
  padding: 28px;
  border: solid 0.1px;
  border-color: rgba(255, 255, 255, 0.082);
  background-color: #ffffff0e;
}

.testimoniSingleBoxTextBoxP {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 25px;
  color: white;
}

.stars {
  height: 28px;
  width: max-content;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 160px;
  padding-right: 160px;
  height: 96px;
  width: 100%;
  background-color: #1c1c1c;
}

.footerLeft {
  height: 100%;
  display: flex;
  align-items: center;
  color: rgb(155, 155, 155);
}

.keyboxTab {
  display: none;
}

.footerRight {
  display: flex;
  gap: 172px;
  color: rgb(138, 138, 138);
}

/************************  Effects  ************************* */

.hoverEffect:hover {
  scale: 1.07;
  transition: all 0.6s linear;
  cursor: pointer;
}

.menuEffect {
  display: none;
}

/************************  Mobile-View  ************************* */

@media (max-width: 480px) {
  .mainPage {
    padding-left: 24px;
    padding-right: 24px;
  }
  .slideBar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    background-color: #00000075;
  }
  .slideBarMenu {
    width: 100%;
    padding: 24px;
    border-bottom: solid 1px;
    border-color: white;
    color: white;
    background-color: #000000;
  }

  .menuClose {
    width: 100%;
    padding: 24px;
    display: flex;
    justify-content: end;
    background-color: #000000;
  }
  .menuEffect {
    display: flex;
  }
  .header {
    height: 98px;
  }
  .appName {
    font-size: 34px;
  }
  .heroSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
  }
  .heroLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: beige; */
  }
  .slogan {
    text-align: center;
    font-size: 22px;
  }
  .heading {
    text-align: center;
    line-height: 60px;
    font-size: 52px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #ff0000;
  }
  .downloadBtn {
    padding: 14px 28px 14px 28px;
  }
  .testimoniBox {
    flex-direction: column;
  }
  .testimoniSingleBoxText {
    padding-bottom: 16px;
  }
  .benefits {
    flex-direction: column;
  }
  .heroRight {
    display: none;
  }

  .keyboxMobile {
    padding-top: 82px;
    padding-bottom: 42px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .keyBox1Mobile {
    width: 196px;
    height: 240px;
    border-radius: 16px;
    background: linear-gradient(#dcd5001e, #dcd5000c, #dcd50000);
    border: solid 0.5px;
    border-color: #dcd300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-left: 44px;
    padding-right: 44px;
  }

  .keyBox2Mobile {
    width: 196px;
    height: 240px;
    border-radius: 16px;
    background: linear-gradient(#00d1c71e, #00d1c70c, #00d1c700);
    border: solid 0.5px;
    border-color: #00d1c5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-left: 44px;
    padding-right: 44px;
  }

  .keyBox3Mobile {
    width: 196px;
    height: 240px;
    border-radius: 16px;
    background: linear-gradient(#7661f11e, #7661f10c, #7661f100);
    border: solid 0.5px;
    border-color: #7661f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-left: 44px;
    padding-right: 44px;
  }
  .keyboxTab {
    display: none;
  }
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
  }
  .menu {
    display: none;
  }
  .menuBar {
    display: flex;
    height: 38px;
    width: 38px;
    background-color: transparent;
    border: none;
  }
  .footerRight {
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 250px;
    padding: 10px;
    flex-direction: column;
    padding-bottom: 32px;
  }
  .footerLeft {
    padding-top: 32px;
  }
}

/************************  Small-Mobile-View  ************************* */

@media (max-width: 340px) {
  .heading {
    text-align: center;
    line-height: 48px;
    font-size: 42px;
    color: #ff0000;
  }

  .heroRight {
    display: none;
  }

  .slogan {
    text-align: center;
    font-size: 16px;
  }

  .downloadBtn {
    width: max-content;
    font-size: 22px;
    font-weight: 500;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 22px;
    padding-right: 22px;
  }

  .testimoniText {
    font-size: 32px;
    font-weight: 600;
    color: white;
  }

  .footer {
    padding: 0px;
  }
}

/************************  Tab-View  ************************* */

@media (min-width: 481px) and (max-width: 920px) {
  .mainPage {
    padding-left: 60px;
    padding-right: 60px;
  }
  .menu {
    display: none;
  }
  .menuBar {
    display: flex;
    height: 38px;
    width: 38px;
    background-color: transparent;
    border: none;
  }
  .slideBarMenu {
    width: 100%;
    padding: 24px;
    border-bottom: solid 1px;
    border-color: white;
    color: white;
    background-color: #000000;
  }

  .menuClose {
    width: 100%;
    padding: 24px;
    display: flex;
    justify-content: end;
    background-color: #000000;
  }
  .menuEffect {
    display: flex;
  }
  .heroSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
  }
  .heroLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .slogan {
    text-align: center;
    font-size: 22px;
  }
  .heading {
    text-align: center;
    line-height: 60px;
    font-size: 52px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #ff0000;
  }
  .downloadBtn {
    padding: 8px 23px 18px 19px;
  }
  .testimoniBox {
    flex-direction: column;
  }
  .testimoniSingleBox {
    min-height: 0px;
    height: max-content;
  }
  .testimoniSingleBoxText {
    padding-bottom: 18px;
  }
  .benefits {
    flex-direction: column;
  }
  .heroRight {
    display: none;
  }
  .keyboxMobile {
    padding-top: 82px;
    padding-bottom: 42px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .keyBox1Mobile {
    width: 196px;
    height: 240px;
    border-radius: 16px;
    background: linear-gradient(#dcd5001e, #dcd5000c, #dcd50000);
    border: solid 0.5px;
    border-color: #dcd300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-left: 44px;
    padding-right: 44px;
  }

  .keyBox2Mobile {
    width: 196px;
    height: 240px;
    border-radius: 16px;
    background: linear-gradient(#00d1c71e, #00d1c70c, #00d1c700);
    border: solid 0.5px;
    border-color: #00d1c5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-left: 44px;
    padding-right: 44px;
  }

  .keyBox3Mobile {
    width: 196px;
    height: 240px;
    border-radius: 16px;
    background: linear-gradient(#7661f11e, #7661f10c, #7661f100);
    border: solid 0.5px;
    border-color: #7661f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-left: 44px;
    padding-right: 44px;
  }
  .keyboxTab {
    display: none;
  }
  .footer {
    padding-left: 0px;
    position: relative;
  }

  .footerRight {
    position: absolute;
    right: 0;
    top: 25px;
    flex: 1;
    gap: 10px;
    padding: 10px;
    flex-direction: row;
  }
  .footerLeft {
    position: absolute;
    left: 20px;
  }
}

/************************  Large-Tab-View  **************************/

@media (min-width: 921px) and (max-width: 1280px) {
  .heroRight {
    display: none;
  }
  .mainPage {
    padding-left: 60px;
    padding-right: 60px;
  }
  .menu {
    display: none;
  }
  .menuBar {
    display: flex;
    height: 38px;
    width: 38px;
    background-color: transparent;
    border: none;
  }
  .slideBarMenu {
    width: 100%;
    padding: 24px;
    border-bottom: solid 1px;
    border-color: white;
    color: white;
    background-color: #000000;
  }

  .menuClose {
    width: 100%;
    padding: 24px;
    display: flex;
    justify-content: end;
    background-color: #000000;
  }
  .menuEffect {
    display: flex;
  }
  .heroSection {
    display: flex;
    justify-content: space-between;
    margin-top: 52px;
    width: 100%;
    height: max-content;
  }

  .heroLeft {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding-top: 52px;
    gap: 32px;
    height: 100%;
    width: max-content;
  }

  .heading {
    line-height: 60px;
    font-size: 48px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #ff0000;
  }

  .highlight {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
  }
  .headerSpan {
    color: #ff0000;
  }

  .slogan {
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    color: #e2e2e2;
  }

  .downloadBtn {
    padding: 12px 24px 12px 24px;
    font-size: 22px;
  }
  .testimoniBox {
    flex-direction: column;
  }
  .testimoniSingleBox {
    min-height: 0px;
    height: max-content;
  }
  .testimoniSingleBoxText {
    padding-bottom: 22px;
  }
  .benefits {
    flex-direction: column;
  }
  .keyboxTab {
    padding-top: 82px;
    padding-bottom: 42px;
    width: max-content;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: end;
    align-items: center;
    gap: 24px;
  }
  .keyBox1Tab {
    width: 196px;
    height: 240px;
    border-radius: 16px;
    background: linear-gradient(#dcd5001e, #dcd5000c, #dcd50000);
    border: solid 0.5px;
    border-color: #dcd300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-left: 44px;
    padding-right: 44px;
    margin-right: -42px;
  }

  .keyBox2Tab {
    width: 196px;
    height: 240px;
    border-radius: 16px;
    background: linear-gradient(#00d1c71e, #00d1c70c, #00d1c700);
    border: solid 0.5px;
    border-color: #00d1c5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-left: 44px;
    padding-right: 44px;
    margin-top: -96px;
    margin-right: -42px;
  }

  .keyBox3Tab {
    width: 196px;
    height: 240px;
    border-radius: 16px;
    background: linear-gradient(#7661f11e, #7661f10c, #7661f100);
    border: solid 0.5px;
    border-color: #7661f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-left: 44px;
    padding-right: 44px;
  }
}
